*,html,body {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Open Sans';
    scroll-behavior: smooth;
    size: auto;
}

header {
    background:#25346A;
    color:#eaeaea;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items: center;
    gap:10px;
    z-index: 1;
    background-size: auto;
    box-shadow: #333746;
    width: auto;
}

.logo {
    margin-right:auto;
    margin-top: -15px;
    display: flex;
    gap:6px;
    font-size: 15px;
    align-items: center;
    

}
.img-logo {
    width: 44px;
    height:44px;
    margin-left: 10px;
}
.logo-title{
    cursor:pointer;
    transition: all .5s ease 0s;
}

.logo:hover {
    color: #bf5a41;
}

nav {
    position: sticky;
    position: -webkit-sticky;
}

nav ul {
    display:flex;
    padding:20px;
    
}
li {
    list-style-type: none;
    padding:15px;
    display:line-block;
    margin-top: -10px;
}

li a {
    transition: all .5s ease 0s;
    font-weight: bold;
    font-size: 13px;
}

li a:hover {
    color:bisque;
}

a {
    color:#eaeaea;
    text-decoration:none;
}

.containerTC {
    max-width: fit-content;
    margin:auto;
    padding: 70px 0;
    background-size: auto;
    background-repeat: no-repeat;
    justify-content: center;
    margin-left: 70px;
    margin-right: 70px;
}

.challenge {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    color: #000000;
    margin-top: -30px;
    text-align: center;
}


.title {
    font-size: 50px;
    font-weight: bold;
    color: #eaeaea;
    text-shadow: 2px 2px 2px #333746;
}

.descriptionTC {
    font-size: 17px;
    text-align: left;
    color: black;
    margin-right: auto;
    margin-left: 50px;
    text-align: justify;
}

