*,html,body {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Open Sans';
    scroll-behavior: smooth;
}

header {
    background:#25346A;
    color:#eaeaea;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items: center;
    gap:10px;
    z-index: 1;
    background-size: auto;
    height: 10vh;
    box-shadow: #333746;
}

.logo {
    margin-right:auto;
    margin-top: -15px;
    display: flex;
    gap:6px;
    font-size: 15px;
    align-items: center;

}
.img-logo {
    width: 44px;
    height:44px;
    margin-left: 10px;
}
.logo-title{
    cursor:pointer;
    transition: all .5s ease 0s;
}

.logo:hover {
    color: #bf5a41;
}

nav {
    position: sticky;
    position: -webkit-sticky;
}

nav ul {
    display:flex;
    padding:20px;
    
}
li {
    list-style-type: none;
    padding:15px;
    display:line-block;
    margin-top: -10px;
}

li a {
    transition: all .5s ease 0s;
    font-weight: bold;
    font-size: 13px;
}

li a:hover {
    color:bisque;
}

a {
    color:#eaeaea;
    text-decoration:none;
}

.container1 {
    max-width: 1536px;
    margin:auto;
    padding: 70px 0;
    background-size: cover;
    background-repeat: no-repeat;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    color: #000000;
    margin-top: -30px;
    text-align: center;
}

.title {
    font-size: 50px;
    font-weight: bold;
    color: #25346A;
    text-shadow: 2px 2px 2px #adadad;
}

.description {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}
.description2 {
    font-size: 20px;
}

.tombol {
    padding: none;
    margin-top: auto;
}

.btn-PGL2 {
    margin-top: -30px;
    margin-right: 10px;
    border:none;
    font-size: 15px;
    padding: 12px 18px;
    background-color: #25346A;
    color:#eaeaea;
    border-radius: 20px;
    cursor: pointer;
    width: 80vh;
    text-align: center;
    box-shadow: 2px 2px 2px black;
}


.btn-Gra {
    margin-top: -30px;
    margin-right: 10px;
    border:none;
    font-size: 15px;
    padding: 12px 18px;
    background-color: #25346A;
    color:#eaeaea;
    border-radius: 20px;
    cursor: pointer;
    width: 80vh;
    text-align: center;
    box-shadow: 2px 2px 2px black;
}





@media screen and (max-width: 500px) {
    .card {
        flex-direction: column;
    }

}


.img-kb {
    width: 100px;
    align-items: center;
    width: 100px;
    height: 100px;
    justify-content: center;
    margin-left: -100px;
}

.tombol1 {
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.tombolCPTP {
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.wrapper::-webkit-scrollbar {
    width: 0p;
}

.parallax1 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;

}

.tombol1 .btn {
    width: 200px;
    height: 200px;
    line-height: 80px;
    text-align: center;
    background-color: #344274;
    border-radius: 20px;
    gap: 10px;
    box-shadow: 3px 3px 3px #b0b3bf;
    font-size: 15px;


}

.tombolCPTP .btnCPTP {
    width: 200px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    background-color: #25346A;
    border-radius: 20px;
    gap: 10px;
    box-shadow: 3px 3px 3px #333746;
    font-size: 15px;


}


.gradientitle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}

.titlegradien {
    font-size: 50px;
    font-weight: bold;
    color: #25346A;
    text-shadow: 2px 2px 2px #b0b3bf;
}
